section.main {
  background-color: $white;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  .top_row {
    width: 100%;
    display: inline-flex;
    min-height: 650px;
    @media only screen and (min-width: 1000px) {
      min-height: 75vh;

    }
    @media only screen and (max-width: 1000px) {
      flex-direction: column
    }
  }
}
